*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #F25630, #F2BB30);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    width: 500px;
}

p{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

textarea{
    width: 100%;
    border: none;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

.tag{
    background-color: #3D0099;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.tag.highlight{
    background-color: #202324;
}